<template lang="pug">
<!-- homenav -->
div.grid-homenav(:style="$store.state.grid.homenav.style")
  div(
    v-for="obj, cnt in $store.getters.homenavobjs"
    :style="$store.state.grid.homenav.content_style_grid"
    :id="`grid-homenav-`+cnt"
    @mouseover="$store.commit('over', $event)"
    @mouseleave="$store.commit('leave', $event)"
    @click="$store.commit('clicked', $event)"
  )
    <!-- icon -->
    a.ico(
      :style="$store.state.grid.homenav.content_style_center"
      :id="`grid-homenav-`+cnt+`-ico`"
      @mouseover="$store.commit('over', $event)"
      @mouseleave="$store.commit('leave', $event)"
      ) {{obj.ico}}
    <!-- text -->
    a.txt(
      :style="$store.state.grid.homenav.content_style_center"
      :id="`grid-homenav-`+cnt+`-txt`"
      @mouseover="$store.commit('over', $event)"
      @mouseleave="$store.commit('leave', $event)"
      ) {{obj.txt}}
</template>

<script>
export default {
  name: 'HomeNav',
  components: {},
  methods: {},
}
</script>

<style scoped lang="stylus">
</style>