<template lang="pug">
<!-- topbar -->
div.grid-topbar()
  div.logo
    // a#espace_cinko ESPACE CINKO
    <div class="neon">
      <span class="text" data-text="ESPACE CINKO">ESPACE CINKO</span>
      <span class="gradient"></span>
      <span class="spotlight"></span>
    </div>
  div.pages
    a#agenda.page Agenda
    a#clients.page Clients
    a#contact.page Contact
    a#galerie.page Galerie
    a#inspirations.page Inspirations
    a#reservation.page Réservation
  div.networks
    a#nw(href="https://www.facebook.com")
      img#fb(:src="fb")
    a#nw(href="https://www.instagram.com")
      img#ig(:src="ig")
</template>

<script>
export default {
  name: 'TopBar',
  components: {},
  methods: {},
  data: function () {
      return {
        fb: require("./facebook.png"),
        ig: require("./instagram.png")
      }
    },
}
</script>

<style scoped lang="stylus">
@media (max-{width}: 3160px)

  .grid-topbar
    // 
    display: grid
    grid-column: 2 / span 8
    grid-row: 1
    grid-template-columns: repeat(10,10%)
    grid-template-rows: repeat(2,100%)
      // 
    .logo
      grid-column: 1 / span 3
      grid-row: 1 / span 2
      display: grid
      grid-template-columns: repeat(1,100%)
      font-size: 180%
      .neon
        overflow: hidden
        filter: brightness(200%)
        display: flex
        align-items: center
        justify-content: center
      .text
          background-color: black
          color: white
          font-weight: bold
          font-family: sans-serif
          text-transform: uppercase
          user-select: none
          font-size: 200%
          display: flex
          align-items: center
          justify-content: center
          width: 100%
          height: 100%
      .text::before
          content: attr(data-text)
          position: absolute
          color: white
          filter: blur(0.016em)
          mix-blend-mode: difference
      .gradient
          background: linear-gradient(45deg, red, gold, lightgreen, gold, red)
          top: 0
          left: 0
          right: 0
          bottom: 0
          mix-blend-mode: multiply
          display: flex
          align-items: center
          justify-content: center        
      .spotlight 
          position: absolute
          top: -100%
          left: -100%
          right: 0
          bottom: 0
          background: 
            radial-gradient(
                circle,
                white,
                transparent 25%
            ) center / 25% 25%,
            radial-gradient(
                circle,
                white,
                black 25%
            ) center / 12.5% 12.5%
          animation: light 5s linear infinite
          mix-blend-mode: color-dodge
      @keyframes light
        to
          transform: translate(50%, 50%)
      // 
    .pages
      grid-column: 4 / span 6
      grid-row: 1 / span 2
      display: grid
      grid-template-columns: repeat(6, 16.66666666666667%)
      font-size: 106%
      //
    .networks
      grid-column: 10
      grid-row: 1 / span 2
      display: grid
      grid-template-columns: repeat(2, 50%)
      
@media (max-{width}: 1920px)

  .grid-topbar
    // 
    display: grid
    grid-column: 2 / span 8
    grid-row: 1
    grid-template-columns: repeat(10,10%)
    grid-template-rows: repeat(2,100%)
      // 
    .logo
      grid-column: 1 / span 3
      grid-row: 1 / span 2
      display: grid
      grid-template-columns: repeat(1,100%)
      font-size: 180%
      .neon
        overflow: hidden
        filter: brightness(200%)
        display: flex
        align-items: center
        justify-content: center
      .text
          background-color: black
          color: white
          font-weight: bold
          font-family: sans-serif
          text-transform: uppercase
          user-select: none
          font-size: 150%
          display: flex
          align-items: center
          justify-content: center
          width: 100%
          height: 100%
      .text::before
          content: attr(data-text)
          position: absolute
          color: white
          filter: blur(0.016em)
          mix-blend-mode: difference
      .gradient
          background: linear-gradient(45deg, red, gold, lightgreen, gold, red)
          top: 0
          left: 0
          right: 0
          bottom: 0
          mix-blend-mode: multiply
          display: flex
          align-items: center
          justify-content: center        
      .spotlight 
          position: absolute
          top: -100%
          left: -100%
          right: 0
          bottom: 0
          background: 
            radial-gradient(
                circle,
                white,
                transparent 25%
            ) center / 25% 25%,
            radial-gradient(
                circle,
                white,
                black 25%
            ) center / 12.5% 12.5%
          animation: light 5s linear infinite
          mix-blend-mode: color-dodge
      @keyframes light
        to
          transform: translate(50%, 50%)
      // 
    .pages
      grid-column: 4 / span 6
      grid-row: 1 / span 2
      display: grid
      grid-template-columns: repeat(6, 16.66666666666667%)
      font-size: 75%
      //
    .networks
      grid-column: 10
      grid-row: 1 / span 2
      display: grid
      grid-template-columns: repeat(2, 50%)
a.page
  z-index: 1
  position: relative
  font-size: 140%
  font-family: inherit
  color: white
  outline: none
  border: none
  background-color: #fafafa
  color: black
  overflow: hidden
  transition: color 0.4s ease-in-out
  display: flex
  align-items: center
  justify-content: center

a.page::before 
  content: ''
  z-index: -1
  position: absolute
  top: 50%
  left: 50%
  width: 100%
  height: 100%
  background-color: #212625
  transform-origin: center
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0)
  transition: transform 0.45s ease-in-out

a.page:hover 
  cursor: pointer
  color: white

a.page:hover::before 
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15)

#nw
  display: flex
  align-items: center
  justify-content: center
#ig, #fb
  width: 40%
</style>